
<div class="col-6">
    <div id ="chat-card" class="card">  
        <div class="card-body">
            <h5 class="card-title">ChatBox {{roomName}} </h5>
            <ul class="list-group" id="messages"></ul>
            <form class="form-inline" id="message-form" action="">
                <label class="sr-only" for="m">Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="m">

                <button class="btn btn-success">Send</button>
            </form>
        </div>
        
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    
    $(function() {
        var socket = io();

        $("#message-form").submit(function(e) {
            e.preventDefault();

            socket.emit("chat message", $("#m").val());
            $("#m").val("");
        });

        socket.on("update message", function(msg) {
            var messages = $("#messages");
            messages.append($("<li class='chat-item list-group-item'>").html( "<b>{{Users.username}}: </b>" + msg));
            scrollToBottom(messages);
        });

        

        function scrollToBottom(element) {
            element.scrollTop(element[0].scrollHeight);
        }
    });
    
</script>