<div class="container">   
    <div class="jumbotron">
        <h1>hello!!! {{Users.username}}</h1>
    </div>

    <div>
        <div>
            <div>
                <label>Room</label><br>
                <input type="text" placeholder="Enter room name" id="roomName" name="roomName">
            </div>
        </div>
        <br>
        <div>
            <button id="create-btn" class="submit">Create Room</button><span><button id="join-btn" class="submit">Join Room</button></span>  
        </div>
    </div>

       
</div>

<script src="/socket.io/socket.io.js"></script>
<script>

    $(function() {
        var socket = io();
        var roomName = $("#roomName").val();
        $("#create-btn").on("click", function() {

            socket.emit("create", roomName);
            console.log("user joined room: " + roomName);
            return false;
            window.location.href = "/chat";
        });
    });


</script>