<style>
    body {
        background-image: url("../images/space3.jpg");
    }

    .container {
        border: 10px grey;
    }

    
</style>

       
</div>
<div class="container">
    <div class="row">
      <div class="col-6">        
        <form class="chat-room-form">
          <div class="form-group">
            <label for="roomName">Room</label>
            <input type="text" placeholder="Enter room name" id="roomName" class="form-control" name="roomName">
          </div>

          <button id="create-btn" type="submit" class="submit btn btn-primary">Create Room</button>
          <button id="join-btn" type="submit" class="submit btn btn-primary">Join Room</button>
        </form>
      </div>
    </div>
</div>
<script src="scripts/simplewebrtc/out/simplewebrtc-with-adapter.bundle.js"></script>
<script src="/socket.io/socket.io.js"></script>
{{!-- <script src="js/app.js"></script> --}}
<script>

   
       
        
        $("#create-btn").on("click", function(e) {
            var socket = io();
            var roomName = $("#roomName").val();
            //e.preventDefault();
            
            socket.emit("create", roomName);
            
            var path="/video?method=create&roomName="+roomName;
          
            window.location.href = path; 
            return false;
        });
        $("#join-btn").on("click", function(e) {
            var socket = io();
            var roomName = $("#roomName").val();
            //e.preventDefault();
            
            socket.emit("join", roomName);
            
            var path="/video?method=join&roomName="+roomName;
        
            window.location.href = path; 
            return false;
        });



</script>
