<style>
    body {
        background-image: url("../images/space3.jpg");
    }

    .container {
        border: 10px grey;
    }

    
</style>

       
</div>

<script src="/socket.io/socket.io.js"></script>
<script>

    $(function() {
        var socket = io();
        var roomName = $("#roomName").val();
        $("#create-btn").on("click", function() {

            socket.emit("create", roomName);
            console.log("user joined room: " + roomName);
            window.location.href = "/video";
            return false;
        });
    });


</script>
<div class="container">
    <div class="row">
      <div class="col-6">        
        <form class="chat-room-form">
          <div class="form-group">
            <label for="roomName">Room</label>
            <input type="text" placeholder="Enter room name" id="roomName" class="form-control" name="roomName">
          </div>

          <button id="create-btn" type="submit" class="submit btn btn-primary">Create Room</button>
          <button id="join-btn" type="submit" class="submit btn btn-primary">Join Room</button>
        </form>
      </div>
    </div>
</div>
