<div class="login-wrap">    
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
         <label for="nameInput"><b>Username</b></label>
            <input type="text" class="form-control " id="nameInput" placeholder="Username">
            <div id="nameError" class="invalid-feedback"></div>
        </div>
        <div class="group">
         <label for="passwordInput"><b>Password</b></label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password">
            <div id="passwordError" class="invalid-feedback"></div>
        </div>
        <div class="group">
            <button id="btn-login" type="submit" class="btn btn-success">Login </button>               
        </div>
        <div class="hr"></div>
      </div>
      <div class="sign-up-htm">
        <div class="group">
          <label for="first_name" class="label">First Name</label>
         <input type="text" class="form-control" id="first_name" placeholder="First Name">
         <div id="firstNameError" class="invalid-feedback"></div>
        </div>
        <div class="group">
          <label for="last_name" class="label">Last Name</label>
          <input type="text" class="form-control" id="last_name" placeholder="Last Name">
          <div id="lastNameError" class="invalid-feedback"></div>
        </div>
        <div class="group">
          <label for="mob_no" class="label">Mobile Number</label>
          <input type="number" class="form-control" id="mob_no" placeholder="Phone Number">
          <div id="phoneNumberError" class="invalid-feedback"></div>
        </div>
        <div class="group">
          <label for="username" class="label">User Name</label>
          <input type="text" class="form-control" id="username" placeholder="User Name">
          <div id="usernameError" class="invalid-feedback"></div>
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
          <div id="passwordError" class="invalid-feedback"></div>
        </div>
        <div class="group">
          <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
        </div>
        <div class="hr"></div>
		</div>
	</div>
</div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
   <script src="/js/index.js"></script>
   <link rel='stylesheet' href='styles/signup.css'> 

