

<!-- Chat Room Form -->
  <div class="container">
    <div class="row">
      <div class="col-6">        
        <form class="chat-room-form">
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" placeholder="Enter user name" id="username" class="form-control" name="username">
          </div>

          <div class="form-group">
            <label for="roomName">Room</label>
            <input type="text" placeholder="Enter room name" id="roomName" class="form-control" name="roomName">
          </div>

          <button id="create-btn" type="submit" class="submit btn btn-primary">Create Room</button>
          <button id="join-btn" type="submit" class="submit btn btn-primary">Join Room</button>
        </form>
      </div>
    </div>

      
    <div class="row">
      <!-- Local Camera -->
      <div class="col-sm-6">       
        <video id="local-video" controls autoplay"></video>
        {{!-- <h1>
        Local Camera
        </h1> --}}
      </div>

      <!-- Remote Cameras -->
      <div class="col-sm-6">
        {{!-- <h2>
          Remote Cameras
        </h2> --}}
        <div id="remote-videos">
          </div>
      </div>
    </div>

    <div class="row">
      {{> chatroom }}
    </div>


  
  <!-- Scripts -->
  <script src="scripts/simplewebrtc/out/simplewebrtc-with-adapter.bundle.js"></script>
  <script src="js/app.js"></script>
  <link rel='stylesheet' href='styles/video.css' /> 
  <link rel='stylesheet' href='styles/partials/chatroom.css' />