<!-- Chat Room Form -->
<div id= "gradient">
  <div class="container">
    <h1 id="room" attr="{{method}}" >{{roomName}}</h1>
      
    <div class="row">
      <!-- Local Camera -->
        <div class="col-sm-6">       
          <video id="local-video" controls autoplay></video>
        {{!-- <h1>
        Local Camera
        </h1> --}}
        </div>

      <!-- Remote Cameras -->
        <div class="col-sm-6">
        {{!-- <h2>
          Remote Cameras
        </h2> --}}
          <div id="remote-videos">
          </div>
        </div>
    </div>

    <div class="row">
      {{> chatroom }}
    </div>
  </dv>
</div>

  
  <!-- Scripts -->
  <script src="scripts/simplewebrtc/out/simplewebrtc-with-adapter.bundle.js"></script>
  {{!-- <script src="js/app.js"></script> --}}
  <script src="js/video.js"></script>
  <link rel='stylesheet' href='styles/video.css' /> 
  <link rel='stylesheet' href='styles/partials/chatroom.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
  <script>

   
    $(function() {
        console.log("chat room is {{roomName}}");
    });
    


  </script>
  